<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <section class="articles">
      <ol class="articles-list">
        <% posts.map(post => { %>
        <%- include('./partials/single-post', {post, session}) %>
        <% }) %>
      </ol>
      <div class="next-articles-link"><a href="#">more</a></div>
    </section>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
