<!-- views/partials/footer.ejs -->
<div class="footer-links-container">
  <div class="nav-items">
    <ul>
      <li><a href="#">Guidelines</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">Lists</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
