<li class="articles-list__article">
  <div>
    <div class="article-link">
      <div class="article-link__main">
        <!-- <a href="<%= posts[i].uri %>">
          <%= post.body %>
        </a> -->
      </div>
      <div class="article-link__home">
        <!-- (<%= post.host_uri %>) -->test
      </div>
    </div>
    <div class="article-subtitle">
      123 points by
      <a href="#">
        <!-- <%= post.username %></a> -->
        <a href="#">10 hours ago</a>
        |
        <a href="#">report</a>
        |
        <a href="#">12 comments</a>
    </div>
  </div>
</li>
