<!-- views/partials/header.ejs -->
<nav>
  <a href="/">
    <div class="nav-title">
      <div class="nav-title__icon"></div>
      <div class="nav-title__title">nullislanders</div>
    </div>
  </a>
  <div class="nav-items">
    <ul>
      <li><a href="#">new</a></li>
      <li><a href="#">show</a></li>
      <li><a href="#">ask</a></li>
      <li><a href="#">jobs</a></li>
      <li><a href="/new">submit</a></li>
      <li><a href="https://twitter.com/hashtag/gischat?f=tweets&vertical=default&src=hash&lang=en">#gischat</a></li>
      <li><a href="https://thespatialcommunity.org">slack</a></li>
    </ul>
  </div>
  <% if (email) { %>
  <div class="nav-login">
    <%= username %> —<a href="/logout">logout</a></div>
  <% } else { %>
  <div class="nav-login"><a href="/login">login</a></div>
  <% } %>
</nav>
