<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <section class="articles">
      <ol class="articles-list">
        <% for (var i = 0; i < posts.length; i++) { %>
        <li class="articles-list__article">
          <div>
            <div class="article-link">
              <div class="article-link__main">
                <a href="<%= posts[i].uri %>">
                  <%= posts[i].body %>
                </a>
              </div>
              <div class="article-link__home">(
                <%= posts[i].host_uri %>)</div>
            </div>
            <div class="article-subtitle">
              123 points by
              <a href="#">
                <%= posts[i].username %></a>
              <a href="#">10 hours ago</a>
              |
              <a href="#">hide</a>
              |
              <a href="#">12 comments</a>
            </div>
          </div>
        </li>
        <% } %>

      </ol>
      <div class="next-articles-link"><a href="#">more</a></div>
    </section>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
