<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <section class="articles">
      <ol class="articles-list">
        <% for (var i = 0; i < posts.length; i++) { %>
        <%- include('./partials/frontpage-link', {post: posts[i]}); %>
        <% } %>

      </ol>
      <!-- , {post: posts[i]} -->
      <div class="next-articles-link"><a href="#">more</a></div>
    </section>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
