<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <section class="articles">
      <ol class="articles-list">
        <li class="articles-list__article">
          <div>
            <div class="article-link">
              <div class="article-link__main">The Shapefile is the Best Format</div>
              <div class="article-link__home">(esri.com)</div>
            </div>
            <div class="article-subtitle">
              123 points by
              <a href="#">shapefile</a>
              <a href="#">10 hours ago</a>
              |
              <a href="#">hide</a>
              |
              <a href="#">12 comments</a>
            </div>
          </div>
        </li>

      </ol>
      <div class="next-articles-link"><a href="#">more</a></div>
    </section>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
