<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/header-submit %>
  </header>

  <main>
    <section class="submit">
      <form name="create-post" method="POST" action="/create">
        title:
        <input type="text" name="body"><br>
        url:
        <input type="text" name="uri"><br>
        <br>

        <input type="submit" value="Submit">
      </form>
    </section>
  </main>


  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
