<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <section class="articles">
      <h2><%= post.body %></h2>
      <ul class="comments-list">
        <% comments.map(comment => { %>
        <%- include('./partials/single-comment', {comment, session}) %>
        <% }) %>
      </ul>
      <div class="new-post-link"><a href="/posts/<%= postId %>/comments/new">comment</a></div>
    </section>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
