<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header-submit %>
  </header>

  <main>
    <section class="submit">
      <form name="create-post" method="POST" action="../../../posts/<%= postId %>/comments/create" id="commentForm">
        Comment:
        <textarea form="commentForm" type="textarea" name="body"></textarea><br>
        <input type="hidden" name="post_id" value=<%=postId %> />
        <br>

        <input type="submit" value="Submit">
      </form>
    </section>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
