<li class="comments-list__article">
  <div>
    <div class="article-link">
      <div class="article-link__main">
        <%= comment.body %>
      </div>
      <div class="article-link__home">
      </div>
    </div>
    <div class="article-subtitle">
      123 points by
      <a href="#">
        <%= comment.username %></a>
      <a href="#">
        <%= comment.created_at %></a>
      |
      <a href="#">report</a>
    </div>
  </div>
</li>
